.jumbotron {
    background: rgba(119, 136, 153, 0.7);
    color:#272b30;
}

body {
    background-color: rgba(255, 255, 255, 0.4) !important;
    background-image: url("../images/skyrimscape.jpg");
    background-blend-mode: soft-light;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#272b30;
}

.display-4{
    font-size: 50pt;
    font-weight: 200;
}

.lead {
    font-size: 16pt;
}

.btn-dark {
    color:white !important;
}

#gameScreen {
    background: rgba(119, 136, 153, 0.7);
    color:#272b30;
    padding:2rem;
    font-size: 16pt;
    border-radius: 3px;
}

#question {
    margin-bottom:1rem;
}

#replyScreen {
    background: rgba(119, 136, 153, 0.685);
    color:#272b30;
}

#endScreen {
    background: rgba(119, 136, 153, 0.685);
    color:#272b30;
}